* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(64 57 99 / 20%);
    box-shadow: 20px 20px 50px 2px #000000a8;
}

form{
    background-color: rgb(55, 0, 255);
    padding: 20px;
}
form h1{
    font-size: 40px;
    text-align: center;
    color: black;
    padding-bottom: 10px;
}
form label{
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-weight: 500;
}
form input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 5px;
}
form .button{
    width: 50%;
    height: 40px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: cornsilk;
    color: black;
    font-size: 15px;
}